name: CI
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Vim
        uses: rhysd/action-setup-vim@v1.2.13
        with:
          version: stable # optional, default is stable
          neovim: true # optional
          token: # optional, default is ${{ github.token }}
          
      - name: Checkout themis.vim
        uses: actions/checkout@v4
        with:
          repository: thinca/vim-themis
          path: vim-themis
      - uses: rhysd/action-setup-vim@v1
        id: vim
        with:
          version: ${{ matrix.version }}
          neovim: ${{ matrix.neovim }}
      - name: Run unit tests
        env:
          THEMIS_VIM: ${{ steps.vim.outputs.executable }}
          THEMIS_PROFILE: profile.txt
        run: |
          ./vim-themis/bin/themis ./test/all.vim
